<!DOCTYPE html>//version html5
<html lang="en">
<head>
    <meta charset="UTF-8">//formato latinoamericano
    <title>Principal</title>
</head>
<body>
<h1> Página Princpal del Sitio Biblioteca</h1>
<h2> Seccion No 1</h2>
<h6> Subtitulo</h6>
<p>Esto es un párrafo</p>
<p>Aprendiendo html</p>
<a href="http://google.com.co">Ingrese a Google--</a>
<div><p>parrafo dentro del div</p>p></div>
<div><img src="https://en.wikipedia.org/wiki/HTML"></div>
<div><input type="number"/><input type="submit"></div>
</body>
</html>