<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Gestion de Libros</title>
</head>
<body>
<div class="container-fluid p-2">
    <div class="row bg-primary">
        <div class="col-4 pt-3 pb-3">
            <img class="img-fluid"src="https://i.pinimg.com/originals/1f/1a/94/1f1a946611002ed73656a4bd22210503.jpg" width="30%" height="40%">
        </div>

        <div class="col-8">
            <h1 class="display-1 text-right text-light p-5">Gestion de Libros</h1>
        </div>
    </div>
</div>
<!--Tarjeta con Info de libros-->
<div class="container">
    <div class="row" mt-5>

            <div th:each="libro:${lista}"class="card col" style="width: 18rem;">
                <img src="https://previews.123rf.com/images/jemastock/jemastock1904/jemastock190432680/123069327-libros-volando-y-dibujos-animados-apilados-sobre-fondo-azul-splash .jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"th:text="${libro.titulo}">Título de la tarjeta</h5>
                    <p class="card-text" th:text="${libro.isbn}"></p>
                    <p class="card-text" th:text="${libro.autor}"></p>
                    <p class="card-text" th:text="${libro.editorial}"></p>
                    <button type="button"class="btn btn-warning">Editar</button>
                    <button type="button"class="btn btn-danger">Eliminar</button>
                </div>
            </div>
    </div>
</div>



<!-- mensajitos en pantalla-->
<div class="alert alert-success alert-dismissible" role="alert" th:if="${mensajeOk != null}">
    <label th:text="${mensajeOk}"></label>
    <button class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error != null}">
    <label th:text="${error}"></label>
    <button class="close" data-dismiss="alert">&times;</button>
</div>





<div class="container mt-5">
    <a href="/formLibro">
        <button class="btn btn-primary" type="button">Agregar Libro</button>
    </a>
</div>


<div class="container mb-5">
    <table class="table table-hover">
        <thead>
        <th>ISBN</th>
        <th>TITULO</th>
        <th>AUTOR</th>
        <th>EDITORIAL</th>
        <th>PAGINAS</th>
        </thead>
        <tr th:each="libro:${lista}">
            <td th:text="${libro.isbn}"></td>
            <td th:text="${libro.titulo}"></td>
            <td th:text="${libro.autor}"></td>
            <td th:text="${libro.editorial}"></td>
            <td th:text="${libro.no_page}"></td>

            <td> <a th:href="@{/EditarLibro/{isbn}(isbn=${libro.isbn})}">
                <button type="button" class="btn btn-warning">Editar</button>
                </a>
            </td>
            <td> <a th:href="@{/EliminarLibro/{isbn}(isbn=${libro.isbn})}">
                <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            </td>
        </tr>
    </table>
</div>


<!--<h1 class="display-1 bg-primary" th:text="Bienvenido...+${nombre}"></h1> -->
</body>
</html>